 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1107px;
}

.u-section-1 .u-image-1 {
  width: 628px;
  height: 628px;
  background-image: url("images/homepagepic1.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  animation-timing-function: ease-in-out;
  margin: 60px auto 0 80px;
}

.u-section-1 .u-image-2 {
  width: 389px;
  height: 389px;
  background-image: url("images/homepagepic2.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -234px auto 0 0;
}

.u-section-1 .u-shape-1 {
  width: 119px;
  height: 119px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -763px 282px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 250px;
  height: 250px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px 142px 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 490px;
  width: 534px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 68px -32px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-image-3 {
  width: 362px;
  height: 362px;
  background-image: url("images/WhatsAppImage2022-10-04at12.04.33PM4.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -349px auto 37px 302px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1091px;
  }

  .u-section-1 .u-image-1 {
    width: 585px;
    height: 585px;
    margin-top: 5px;
    margin-left: 69px;
  }

  .u-section-1 .u-image-2 {
    width: 357px;
    height: 357px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 195px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 60px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 526px;
    width: 495px;
    margin-top: 126px;
    margin-right: -25px;
    height: auto;
  }

  .u-section-1 .u-image-3 {
    width: 293px;
    height: 293px;
    margin-top: -380px;
    margin-left: 215px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-1 .u-image-1 {
    width: 511px;
    height: 511px;
    margin-top: 20px;
    margin-left: -17px;
  }

  .u-section-1 .u-image-2 {
    width: 299px;
    height: 299px;
    margin-top: -106px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -679px;
    margin-right: 23px;
  }

  .u-section-1 .u-shape-2 {
    width: 169px;
    height: 169px;
  }

  .u-section-1 .u-group-1 {
    min-height: 500px;
    width: 427px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-3 {
    width: 268px;
    height: 268px;
    margin-top: -295px;
    margin-bottom: 27px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1235px;
  }

  .u-section-1 .u-image-1 {
    width: 480px;
    height: 480px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 267px;
    height: 267px;
  }

  .u-section-1 .u-shape-1 {
    width: 85px;
    height: 85px;
    margin-top: -650px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 183px;
    height: 183px;
    margin-top: 382px;
    margin-right: -15px;
  }

  .u-section-1 .u-group-1 {
    min-height: 429px;
    margin-top: 145px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 22px 10px 17px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-3 {
    width: 204px;
    height: 204px;
    margin-top: -633px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-1 .u-image-1 {
    width: 306px;
    height: 306px;
    margin-left: -20px;
  }

  .u-section-1 .u-image-2 {
    width: 193px;
    height: 193px;
    margin-top: -58px;
    margin-left: -23px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -441px;
  }

  .u-section-1 .u-shape-2 {
    width: 115px;
    height: 115px;
    margin-top: 163px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 498px;
    margin-top: 178px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    width: 173px;
    height: 173px;
    margin-top: -665px;
    margin-right: 34px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 297px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 21px;
  font-size: 1.25rem;
  font-weight: normal;
  margin-top: 21px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 514px;
}

.u-section-3 .u-slider-1 {
  min-height: 431px;
  width: 893px;
  margin: 42px auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  background-image: none;
  margin: 20px 0 0;
}

.u-section-3 .u-text-2 {
  width: 232px;
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-3 .u-text-3 {
  width: 191px;
  margin: 15px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  width: 232px;
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-3 .u-text-6 {
  width: 191px;
  margin: 15px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 35px;
  height: 35px;
  background-image: none;
  left: 0;
  right: auto;
  position: absolute;
  padding: 10px;
}

.u-section-3 .u-carousel-control-2 {
  width: 35px;
  height: 35px;
  background-image: none;
  padding: 10px;
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-slider-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 383px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 383px;
    height: auto;
    width: 323px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-3 .u-carousel-control-1 {
    left: -23px;
  }

  .u-section-3 .u-carousel-control-2 {
    left: auto;
    right: -35px;
    position: absolute;
  }
}